<form class="crypt-item-sheet__talent" autocomplete="off">
  <section class="avatar">
    <img alt="talent avatar"
         class="profile-img"
         src="{{item.img}}"
         data-edit="img"
         title="{{item.name}}"/>
  </section>
  <section class="item-info">
    <div class="crypt-form-field">
      <label for="talent-name-{{item.id}}">{{l "Talent.talentName"}}</label>
      <input id="talent-name-{{item.id}}"
             type="text"
             name="name"
             value="{{item.name}}"/>
    </div>
  </section>
  <section class="config">
    <div class="crypt-form-field">
      <label for="talent-up-cost-{{item.id}}">{{l "Talent.upCost"}}</label>
      <input id="talent-up-cost-{{item.id}}"
             type="text"
             name="data.purchaseCost"
             value="{{data.data.purchaseCost}}"
             data-dtype="Number"/>
    </div>
    <div class="toggle-field">
      <span class="toggle-label">{{l "Talent.tiers"}}</span>
      {{> toggleBox id=(concat "tiered-toggle-" item.id) value=data.data.tiered name="data.tiered"}}
    </div>
    {{#if data.data.tiered }}
      <div class="crypt-form-field">
        <label for="talent-tier-{{item.id}}">{{l "Talent.tier"}}</label>
        <input id="talent-tier-{{item.id}}"
               type="text"
               name="data.currentTier"
               value="{{data.data.currentTier}}"
               data-dtype="Number"/>
      </div>
    {{/if}}
  </section>
  <section class="sheet-body">
    <h3 class="description-label">{{l "Description"}}</h3>
    {{editor content=data.data.description target="data.description" rollData=rollData button=true owner=owner editable=editable }}
  </section>
</form>
