<div class="crypt-skill-check">
  <h4 class="skill">
    {{#if skillName }}
      {{skillName}}
    {{else}}
      {{attributeName}}
    {{/if}}
  </h4>
  <div class="difficulty">
    <p>
      <span class="difficulty-label">{{l "CheckDifficulty.difficulty" }}:</span>
      {{difficulty}}
    </p>
    <div class="flex-spacer"></div>
    <button type="button" class="difficulty-update-button left" {{disabled (is difficultyValue 4)}}>-
    </button>
    <button type="button" class="difficulty-update-button right" {{disabled (is difficultyValue 8)}}>+
    </button>
  </div>
  <p class="result">
    <strong>{{checkResult}}</strong>
    {{resultDescription}}
  </p>
  <ol class="dice">
    {{#each rolls }}
      <li class="crypto-die {{this.type}} result-{{this.value}} {{result}}"
          title="{{this.value}}"
          data-tooltip="{{this.value}}">
      </li>
    {{/each}}
  </ol>
</div>
