<form class="crypt-actor-sheet character" autocomplete="off">
  <header>
    <div class="avatar">
      <img alt="character avatar"
           src="{{ actor.img }}"
           data-edit="img"
           title="{{ actor.name }}"/>
      {{> attributeBar hpAttributeBar }}
      {{> attributeBar manaAttributeBar }}
    </div>
    <div class="bio-defense">
      {{> basicInfo }}
      {{> defenses }}
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="crypt-tabs small" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="crypt-tab" data-tab="core">{{ toUpperCase (l "Core.core")}}</a>
    <a class="crypt-tab" data-tab="features">{{ toUpperCase (l "Features")}}</a>
    <a class="crypt-tab" data-tab="equipment">{{ toUpperCase (l "Equipment.equipment")}}</a>
    <a class="crypt-tab" data-tab="bio">{{ toUpperCase (l "Bio.bio")}}</a>
  </nav>
  <section class="sheet-body">
    <div class="tab core" data-group="primary" data-tab="core">
      <div class="cores">
        {{> miniTriad data.data.core.speed }}
        {{> miniTriad data.data.core.power }}
        {{> miniTriad data.data.core.wits }}
        {{> miniTriad data.data.core.resolve }}
      </div>
      <div class="skills">
        <h3 class="skills-label">{{ l "Skill.skills" }}</h3>
        <div class="skill-lists">
          {{> skillList (firstHalf skills) }}
          {{> skillList (lastHalf skills) }}
        </div>
      </div>
    </div>
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="party-upgrade-points">
        <div class="crypt-form-field">
          <label for="party-select">{{ l "Party.party" }}</label>
          <select id="party-select" name="data.biography.party">
            {{ selectOptions partyOptions selected=data.data.biography.party blank="Select party..." nameAttr="id" labelAttr="name" }}
          </select>
        </div>
        {{#if selectedParty }}
          <button type="button"
                  class="party-action-button view"
                  data-tooltip="{{ l "View" }}"
                  data-party-id="{{ data.data.biography.party }}">
            <span class="fas fa-eye"></span>
          </button>
          <span>({{ selectedParty.upgradePoints }} {{ l "Party.upgradePoints" }})</span>
        {{/if }}
        <div class="flex-spacer"></div>
        <div class="upgrade-points">
          <label for="upgrade-points-input">{{ l "upgradePoints" }}</label>
          {{> coreInput id="upgrade-points-input" name="data.upgradePoints.value" value=data.data.upgradePoints.value size="small" }}
        </div>
      </section>
      <section class="feature-list">
        {{> features talents=data.data.talents spells=data.data.spells }}
      </section>
    </div>
    <div class="tab equipment" data-group="primary" data-tab="equipment">{{> equipment }}</div>
    <div class="tab bio" data-group="primary" data-tab="bio">{{> bio }}</div>
  </section>
</form>
