<form class="crypt-actor-sheet party" autocomplete="off">
  <nav class="crypt-tabs small" data-group="primary">
    <a class="crypt-tab" data-tab="party">{{toUpperCase (l "Party.party")}}</a>
    <a class="crypt-tab" data-tab="safehouse">{{toUpperCase (l "Party.safehouse")}}</a>
  </nav>
  <section class="sheet-body">
    <div class="tab party" data-group="primary" data-tab="party">
      <div class="party-wrapper">
        <div class="party-resources">
          <div class="resource-label">{{l "Party.risk"}}</div>
          {{> coreInput value=data.data.risk.value name="data.risk.value" size="large"}}
          <div class="resource-label">{{l "Party.upgradePoints"}}</div>
          {{> coreInput value=data.data.upgradePoints name="data.upgradePoints" size="large"}}
          <div class="resource-label">{{l "Party.assets"}}</div>
          {{> coreInput value=data.data.assets name="data.assets" size="large"}}
        </div>
        <div class="party-risk-events">
          <h2>{{l "Party.riskEvents"}}</h2>
          {{#each data.data.riskEvents as |event index| }}
            <div class="risk-event">
              {{> toggleBox id=(concat "risk-event-toggle-" index) value=event.complete name=(concat "data.riskEvents." index ".complete")}}
              <input type="text"
                     id="{{concat "risk-event-text-" index}}"
                     value="{{event.eventText}}"/>
            </div>
          {{/each}}
        </div>
        <div class="party-cells">
          <h2>{{l "Party.cells"}}</h2>
          {{#each data.data.cells as |cell index| }}
            {{> cell cell=cell index=index }}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="tab safehouse" data-group="primary" data-tab="safehouse">
      <div class="safehouse-rooms">
        {{> safehouseRoom room=data.data.safehouse.cryptovault}}
        {{> safehouseRoom room=data.data.safehouse.dungeon}}
        {{> safehouseRoom room=data.data.safehouse.forge}}
        {{> safehouseRoom room=data.data.safehouse.front}}
        {{> safehouseRoom room=data.data.safehouse.golem}}
        {{> safehouseRoom room=data.data.safehouse.laboratory}}
        {{> safehouseRoom room=data.data.safehouse.lounge}}
        {{> safehouseRoom room=data.data.safehouse.sanctuary}}
        {{> safehouseRoom room=data.data.safehouse.stable}}
        {{> safehouseRoom room=data.data.safehouse.trainingRoom}}
        {{> safehouseRoom room=data.data.safehouse.warRoom}}
      </div>
    </div>
  </section>
</form>
