<!--
  @Input id: string;
  @Input value: boolean;
  @Input name: string;
  @Input placeholder?: string;
  @Input index?: string;
-->

<div class="crypt-toggle-box">
  <input
    class="visually-hidden"
    id="{{id}}"
    type="checkbox"
    {{checked value}}
    name="{{name}}"
    data-dtype="Boolean"
    data-index="{{index}}"
  />
  <label for="{{id}}">{{placeholder}}</label>
</div>