<form class="crypt-threat-sheet" autocomplete="off">
  <div class="core-and-defenses">
    <div class="column-cores">
      <div class="crypt-form-field name">
        <input id="name-{{document.id}}"
               type="text"
               placeholder="{{l "Bio.threatNamePlaceholder"}}"
               name="name"
               value="{{actor.name}}"/>
      </div>
      <div class="cores">
        <h2>{{l "Core.speed"}}</h2>
        <div class="description">
          <p>
            {{l "Defense.dodge"}}
          </p>
          <small>{{l "Defense.vsMeleeMissile"}}</small>
        </div>
        {{> threatCore core.speed}}
        <h2>{{l "Core.power"}}</h2>
        <div class="description">
          <p>
            {{l "Defense.parry"}}
          </p>
          <small>{{l "Defense.vsMelee"}}</small>
        </div>
        {{> threatCore core.power}}
        <h2>{{l "Core.wits"}}</h2>
        <div class="description">
          <p>
            {{l "Defense.takeCover"}}
          </p>
          <small>{{l "Defense.vsMissile"}}</small>
        </div>
        {{> threatCore core.wits}}
        <h2>{{l "Core.resolve"}}</h2>
        <div class="description">
          <p>
            {{l "Defense.resist"}}
          </p>
          <small>{{l "Defense.vsMagic"}}</small>
        </div>
        {{> threatCore core.resolve}}
      </div>
    </div>
    <div class="column-defenses">
      <div class="avatar">
        <img alt="threat avatar"
             src="{{ actor.img }}"
             data-edit="img"
             title="{{ actor.name }}"/>
      </div>
      {{> attributeBar hpAttributeBar }}
      {{> attributeBar manaAttributeBar }}
      <div class="defenses">
        {{#if equippedOutfit }}
          <div class="threat-defense">
            <span class="label">{{l "Equipment.armor"}}</span>
            <span class="value">{{equippedOutfit.name}}</span>
          </div>
        {{/if}}
        <div class="threat-defense">
          <span class="label">{{l "Equipment.damageReduction"}}</span>
          <span class="value">{{> coreInput value=data.data.damageReduction.value readonly=true size="small" }}</span>
        </div>
      </div>
    </div>
  </div>
  <nav class="crypt-tabs small" data-group="primary">
    <a class="crypt-tab" data-tab="core">{{ toUpperCase (l "Core.core")}}</a>
    <a class="crypt-tab" data-tab="features">{{ toUpperCase (l "Features")}}</a>
    <a class="crypt-tab" data-tab="equipment">{{ toUpperCase (l "Equipment.equipment")}}</a>
    <a class="crypt-tab" data-tab="bio">{{ toUpperCase (l "Bio.bio")}}</a>
  </nav>
  <section class="sheet-body">
    <div class="tab core" data-group="primary" data-tab="core"></div>
    <div class="tab features" data-group="primary" data-tab="features">{{> threatFeatures}}</div>
    <div class="tab equipment" data-group="primary" data-tab="equipment">{{> threatEquipment}}</div>
  </section>
</form>
