<div class="crypt-equipment">
  <section class="coin-other">
    <div class="crypt-form-field other">
      <label for="character-other-{{document.id}}">{{l "Equipment.other"}}</label>
      <input id="character-other-{{document.id}}"
             type="text"
             name="data.gear.other"
             value="{{data.data.gear.other}}"/>
    </div>
    <div class="crypt-form-field coin">
      <label for="character-coin-{{document.id}}">{{l "Equipment.coin"}}</label>
      <input id="character-coin-{{document.id}}"
             type="text"
             data-dtype="Number"
             name="data.gear.coin"
             value="{{data.data.gear.coin}}"/>
    </div>
  </section>
  {{#if data.data.weapons.length }}
    {{> weaponsTable }}
  {{/if}}
  {{#if data.data.outfits.length }}
    {{> outfitsTable }}
  {{/if}}
  {{#if data.data.consumables.length }}
    {{> consumablesTable }}
  {{/if}}
  {{#if data.data.equipment.length }}
    {{> equipmentTable }}
  {{/if}}
</div>
