<form class="crypt-item-sheet__spell" autocomplete="off">
  <section class="avatar">
    <img alt="spell avatar"
         class="profile-img"
         src="{{item.img}}"
         data-edit="img"
         title="{{item.name}}"/>
  </section>
  <section class="item-info">
    <div class="crypt-form-field">
      <label for="spell-name-{{item.id}}">{{l "Spell.spellName"}}</label>
      <input id="spell-name-{{item.id}}"
             type="text"
             name="name"
             value="{{item.name}}"/>
    </div>
    <div class="crypt-form-field">
      <label for="spell-type-select-{{item.id}}">{{l "SpellType.spellType"}}</label>
      <select id="spell-type-select-{{item.id}}" name="data.type">
        {{selectOptions spellTypes selected=data.data.type localize=true}}
      </select>
    </div>
  </section>
  <section class="config">
    <div class="crypt-form-field">
      <label for="spell-mp-cost-{{item.id}}">{{l "Spell.mpCost"}}</label>
      <input id="spell-mp-cost-{{item.id}}"
             type="text"
             name="data.castCost"
             value="{{data.data.castCost}}"
             data-dtype="Number"/>
    </div>
    <div class="crypt-form-field">
      <label for="spell-up-cost-{{item.id}}">{{l "Talent.upCost"}}</label>
      <input id="spell-up-cost-{{item.id}}"
             type="text"
             name="data.purchaseCost"
             value="{{data.data.purchaseCost}}"
             data-dtype="Number"/>
    </div>
  </section>
  <section class="sheet-body">
    <h3 class="description-label">{{l "Description"}}</h3>
    {{editor content=data.data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
  </section>
</form>
