<div class="crypt-equipment">
  <section class="coin-other">
    <div class="crypt-form-field other">
      <label for="character-other-{{document.id}}">{{l "Equipment.other"}}</label>
      <input id="character-other-{{document.id}}"
             type="text"
             name="data.gear.other"
             value="{{data.data.gear.other}}"/>
    </div>
    <div class="crypt-form-field coin">
      <label for="character-coin-{{document.id}}">{{l "Equipment.coin"}}</label>
      <input id="character-coin-{{document.id}}"
             type="text"
             data-dtype="Number"
             name="data.gear.coin"
             value="{{data.data.gear.coin}}"/>
    </div>
  </section>
  {{#if data.data.weapons.length }}
    <table class="crypt-item-table weapons-table">
      <tr>
        <th colspan="2">{{l "Equipment.weapons"}}</th>
        <th data-dtype="Number">{{l "EquipmentRules.damage"}}</th>
        <th data-dtype="Number">{{l "Equipment.quantity"}}</th>
        <th data-dtype="Number">{{l "Equipment.cost"}}</th>
      </tr>
      {{#each data.data.weapons }}
        <tr class="item-row" data-item-id="{{this.id}}">
          <td class="weapon avatar">
            <button class="avatar-wrapper" data-tooltip="{{l "ToChat"}}">
              <img src="{{this.img}}" alt="{{this.name}}"/>
            </button>
          </td>
          <td class="weapon name">
            <a>{{this.name}}</a> <span class="item-attrs">{{itemAttrs this}}</span>
          </td>
          <td class="weapon damage" data-dtype="Number">{{#if this.data.data.rules.damage}}{{this.data.data.rules.damage.value}}{{/if}}</td>
          <td class="weapon quantity" data-dtype="Number">{{this.data.data.quantity}}</td>
          <td class="weapon cost" data-dtype="Number">{{this.data.data.cost}}</td>
          <td class="weapon actions-wrapper">
            <div class="actions">
              <button type="button" class="action-button" data-action="view" data-tooltip="{{l 'View'}}">
                <span class="fas fa-eye"></span>
              </button>
              <button type="button" class="action-button" data-action="edit" data-tooltip="{{l 'Edit'}}">
                <span class="fas fa-edit"></span>
              </button>
              <button type="button"
                      class="action-button"
                      data-action="delete"
                      data-tooltip="{{l 'Delete'}}">
                <span class="fas fa-trash"></span>
              </button>
            </div>
          </td>
        </tr>
      {{/each}}
    </table>
  {{/if}}
  {{#if data.data.outfits.length }}
    <table class="crypt-item-table outfits-table">
      <tr>
        <th colspan="2">{{l "Equipment.outfits"}}</th>
        <th data-dtype="Number">{{l "EquipmentRules.damageReduction"}}</th>
        <th data-dtype="Number">{{l "Equipment.quantity"}}</th>
        <th data-dtype="Number">{{l "Equipment.cost"}}</th>
      </tr>
      {{#each data.data.outfits }}
        <tr class="item-row" data-item-id="{{this.id}}">
          <td class="outfit avatar">
            <button class="avatar-wrapper" data-tooltip="{{l "ToChat"}}">
              <img src="{{this.img}}" alt="{{this.name}}"/>
            </button>
          </td>
          <td class="outfit name">
            <a>{{this.name}}</a> <span class="item-attrs">{{itemAttrs this}}</span>
          </td>
          <td class="outfit dr" data-dtype="Number">{{#if this.data.data.rules.damageReduction}}{{this.data.data.rules.damageReduction.value}}{{/if}}</td>
          <td class="outfit quantity" data-dtype="Number">{{this.data.data.quantity}}</td>
          <td class="outfit cost" data-dtype="Number">{{this.data.data.cost}}</td>
          <td class="outfit actions-wrapper">
            <div class="actions">
              <button type="button"
                      class="action-button {{#if this.data.data.equipped}}active{{/if}}"
                      data-action="equip"
                      data-tooltip="{{#if this.data.data.equipped}}{{l "Equipment.equipped"}}{{else}}{{l "Equipment.equip"}}{{/if}}">
                {{> armorIcon}}
              </button>
              <button type="button" class="action-button" data-action="view" data-tooltip="{{l 'View'}}">
                <span class="fas fa-eye"></span>
              </button>
              <button type="button" class="action-button" data-action="edit" data-tooltip="{{l 'Edit'}}">
                <span class="fas fa-edit"></span>
              </button>
              <button type="button"
                      class="action-button"
                      data-action="delete"
                      data-tooltip="{{l 'Delete'}}">
                <span class="fas fa-trash"></span>
              </button>
            </div>
          </td>
        </tr>
      {{/each}}
    </table>
  {{/if}}
  {{#if data.data.consumables.length }}
    <table class="crypt-item-table consumables-table">
      <tr>
        <th colspan="2">{{l "Equipment.consumables"}}</th>
        <th data-dtype="Number">{{l "Equipment.quantity"}}</th>
        <th data-dtype="Number">{{l "Equipment.cost"}}</th>
      </tr>
      {{#each data.data.consumables }}
        <tr class="item-row" data-item-id="{{this.id}}">
          <td class="consumable avatar">
            <button class="avatar-wrapper" data-tooltip="{{l "ToChat"}}">
              <img src="{{this.img}}" alt="{{this.name}}"/>
            </button>
          </td>
          <td class="consumable name">
            <a>{{this.name}}</a> <span class="item-attrs">{{itemAttrs this}}</span>
          </td>
          <td class="consumable quantity" data-dtype="Number">
            {{this.data.data.quantity}}
          </td>
          <td class="consumable cost" data-dtype="Number">
            {{this.data.data.cost}}
          </td>
          <td class="consumable actions-wrapper">
            <div class="actions">
              <button type="button" class="action-button" data-action="view" data-tooltip="{{l 'View'}}">
                <span class="fas fa-eye"></span>
              </button>
              <button type="button" class="action-button" data-action="edit" data-tooltip="{{l 'Edit'}}">
                <span class="fas fa-edit"></span>
              </button>
              <button type="button"
                      class="action-button"
                      data-action="delete"
                      data-tooltip="{{l 'Delete'}}">
                <span class="fas fa-trash"></span>
              </button>
            </div>
          </td>
        </tr>
      {{/each}}
    </table>
  {{/if}}
  {{#if data.data.equipment.length }}
    <table class="crypt-item-table equipment-table">
      <tr>
        <th colspan="2">
          {{l "Equipment.equipment"}}
        </th>
        <th data-dtype="Number">
          {{l "Equipment.quantity"}}
        </th>
        <th data-dtype="Number">
          {{l "Equipment.cost"}}
        </th>
      </tr>
      {{#each data.data.equipment }}
        <tr class="item-row" data-item-id="{{this.id}}">
          <td class="equipment avatar">
            <button class="avatar-wrapper" data-tooltip="{{l "ToChat"}}">
              <img src="{{this.img}}" alt="{{this.name}}"/>
            </button>
          </td>
          <td class="equipment name">
            <a>{{this.name}}</a> <span class="item-attrs">{{itemAttrs this}}</span>
          </td>
          <td class="equipment quantity" data-dtype="Number">
            {{this.data.data.quantity}}
          </td>
          <td class="equipment cost" data-dtype="Number">
            {{this.data.data.cost}}
          </td>
          <td class="equipment actions-wrapper">
            <div class="actions">
              <button type="button" class="action-button" data-action="view" data-tooltip="{{l 'View'}}">
                <span class="fas fa-eye"></span>
              </button>
              <button type="button" class="action-button" data-action="edit" data-tooltip="{{l 'Edit'}}">
                <span class="fas fa-edit"></span>
              </button>
              <button type="button"
                      class="action-button"
                      data-action="delete"
                      data-tooltip="{{l 'Delete'}}">
                <span class="fas fa-trash"></span>
              </button>
            </div>
          </td>
        </tr>
      {{/each}}
    </table>
  {{/if}}
</div>
