<div class="crypt-bio">
  <div class="bio-section">
    <p class="section-label">{{localize "CRYPTOMANCER.Bio.appearance"}}</p>
    <div class="bio-section__input">
      <label for="{{concat 'bio-build-' document.id}}">
        {{localize "CRYPTOMANCER.Bio.build"}}
      </label>
      <input
        id="{{concat 'bio-build-' document.id}}"
        type="text"
        name="data.biography.build"
        placeholder="{{localize 'CRYPTOMANCER.Bio.build'}}"
        value="{{data.data.biography.build}}"
      />
    </div>
    <div class="bio-section__input">
      <label for="{{concat 'bio-eyes-' document.id}}">
        {{localize "CRYPTOMANCER.Bio.eyes"}}
      </label>
      <input
        id="{{concat 'bio-eyes-' document.id}}"
        type="text"
        name="data.biography.eyes"
        placeholder="{{localize 'CRYPTOMANCER.Bio.eyes'}}"
        value="{{data.data.biography.eyes}}"
      />
    </div>
    <div class="bio-section__input">
      <label for="{{concat 'bio-hair-' document.id}}">
        {{localize "CRYPTOMANCER.Bio.hair"}}
      </label>
      <input
        id="{{concat 'bio-hair-' document.id}}"
        type="text"
        name="data.biography.hair"
        placeholder="{{localize 'CRYPTOMANCER.Bio.hair'}}"
        value="{{data.data.biography.hair}}"
      />
    </div>
    <div class="bio-section__input">
      <label for="{{concat 'bio-skin-' document.id}}">
        {{localize "CRYPTOMANCER.Bio.skin"}}
      </label>
      <input
        id="{{concat 'bio-skin-' document.id}}"
        type="text"
        name="data.biography.skin"
        placeholder="{{localize 'CRYPTOMANCER.Bio.skin'}}"
        value="{{data.data.biography.skin}}"
      />
    </div>
  </div>
  <div class="bio-section">
    <p class="section-label">{{localize "CRYPTOMANCER.Bio.personality"}}</p>
    <div class="bio-section__input">
      <label for="{{concat 'bio-desires-' document.id}}">
        {{localize "CRYPTOMANCER.Bio.desires"}}
      </label>
      <input
        id="{{concat 'bio-desires-' document.id}}"
        type="text"
        name="data.biography.desires"
        placeholder="{{localize 'CRYPTOMANCER.Bio.desires'}}"
        value="{{data.data.biography.desires}}"
      />
    </div>
    <div class="bio-section__input">
      <label for="{{concat 'bio-fears-' document.id}}">
        {{localize "CRYPTOMANCER.Bio.fears"}}
      </label>
      <input
        id="{{concat 'bio-fears-' document.id}}"
        type="text"
        name="data.biography.fears"
        placeholder="{{localize 'CRYPTOMANCER.Bio.fears'}}"
        value="{{data.data.biography.fears}}"
      />
    </div>
    <div class="bio-section__input">
      <label for="{{concat 'bio-tendsTo-' document.id}}">
        {{localize "CRYPTOMANCER.Bio.tendsTo"}}
      </label>
      <input
        id="{{concat 'bio-tendsTo-' document.id}}"
        type="text"
        name="data.biography.tendsTo"
        placeholder="{{localize 'CRYPTOMANCER.Bio.tendsTo'}}"
        value="{{data.data.biography.tendsTo}}"
      />
    </div>
    <div class="bio-section__input">
      <label for="{{concat 'bio-usedTo-' document.id}}">
        {{localize "CRYPTOMANCER.Bio.usedTo"}}
      </label>
      <input
        id="{{concat 'bio-usedTo-' document.id}}"
        type="text"
        name="data.biography.usedTo"
        placeholder="{{localize 'CRYPTOMANCER.Bio.usedTo'}}"
        value="{{data.data.biography.usedTo}}"
      />
    </div>
  </div>
  <div class="bio-section trademark-items">
    <p class="section-label">{{localize "CRYPTOMANCER.Bio.trademarkItems"}}</p>
    <div class="trademark-items__wrapper">
      {{#each data.data.trademarkItems}}
        <div class="trademark-item" data-item-id="{{this.id}}">
          <h3 class="trademark-item__name">{{this.name}}</h3>
          {{#if (is this.data.data.type "outfit")}}
            <p class="trademark-item__label">
              {{localize "CRYPTOMANCER.TrademarkItemType.trademarkOutfit"}}
            </p>
          {{else}}
            <p class="trademark-item__label">
              {{localize "CRYPTOMANCER.TrademarkItemType.trademarkWeapon"}}
            </p>
          {{/if}}
          <div class="trademark-item__rules">
            <span class="label">
              {{localize "CRYPTOMANCER.TrademarkItem.rules"}}
            </span>
            <span class="value">
              {{this.data.data.rules}}
            </span>
          </div>
          <div class="trademark-item__qualities">
            <span class="label">
              {{localize "CRYPTOMANCER.TrademarkItem.qualities"}}
            </span>
            <span class="value">
              {{this.data.data.qualities}}
            </span>
          </div>
          <div class="trademark-item__avatar">
            <img src="{{this.img}}" alt="{{this.name}}" />
          </div>
          <div class="trademark-item__actions">
            <button
              class="trademark-item__action-button view"
              data-tooltip="{{localize 'CRYPTOMANCER.View'}}"
            >
              <span class="fas fa-eye"></span>
            </button>
            <button
              class="trademark-item__action-button delete"
              data-tooltip="{{localize 'CRYPTOMANCER.Delete'}}"
            >
              <span class="fas fa-trash"></span>
            </button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>