<div class="crypt-bio">
  <div class="short-bio">
    <p>{{localize "CRYPTOMANCER.Bio.appearance"}}</p>
    <label
      class="input-sizer stacked build"
      data-value="{{data.data.biography.build}}"
    >
      <input
        type="text"
        oninput="this.parentNode.dataset.value = this.value"
        size="1"
        name="data.biography.build"
        placeholder="{{localize 'CRYPTOMANCER.Bio.build'}}"
        value="{{data.data.biography.build}}"
      />
      <span class="label">{{localize "CRYPTOMANCER.Bio.build"}}</span>
    </label>
    <label
      class="input-sizer stacked eyes"
      data-value="{{data.data.biography.eyes}}"
    >
      <input
        type="text"
        oninput="this.parentNode.dataset.value = this.value"
        size="1"
        name="data.biography.eyes"
        placeholder="{{localize 'CRYPTOMANCER.Bio.eyes'}}"
        value="{{data.data.biography.eyes}}"
      />
      <span class="label">{{localize "CRYPTOMANCER.Bio.eyes"}}</span>
    </label>
    <label
      class="input-sizer stacked hair"
      data-value="{{data.data.biography.hair}}"
    >
      <input
        type="text"
        oninput="this.parentNode.dataset.value = this.value"
        size="1"
        name="data.biography.hair"
        placeholder="{{localize 'CRYPTOMANCER.Bio.hair'}}"
        value="{{data.data.biography.hair}}"
      />
      <span class="label">{{localize "CRYPTOMANCER.Bio.hair"}}</span>
    </label>
    <label
      class="input-sizer stacked skin"
      data-value="{{data.data.biography.skin}}"
    >
      <input
        type="text"
        oninput="this.parentNode.dataset.value = this.value"
        size="1"
        name="data.biography.skin"
        placeholder="{{localize 'CRYPTOMANCER.Bio.skin'}}"
        value="{{data.data.biography.skin}}"
      />
      <span class="label">{{localize "CRYPTOMANCER.Bio.skin"}}</span>
    </label>
  </div>
  <div class="short-bio">
    <p>{{localize "CRYPTOMANCER.Bio.personality"}}</p>
    <label
      class="input-sizer stacked desires"
      data-value="{{data.data.biography.desires}}"
    >
      <input
        type="text"
        oninput="this.parentNode.dataset.value = this.value"
        size="1"
        name="data.biography.desires"
        placeholder="{{localize 'CRYPTOMANCER.Bio.desires'}}"
        value="{{data.data.biography.desires}}"
      />
      <span class="label">{{localize "CRYPTOMANCER.Bio.desires"}}</span>
    </label>
    <label
      class="input-sizer stacked fears"
      data-value="{{data.data.biography.fears}}"
    >
      <input
        type="text"
        oninput="this.parentNode.dataset.value = this.value"
        size="1"
        name="data.biography.fears"
        placeholder="{{localize 'CRYPTOMANCER.Bio.fears'}}"
        value="{{data.data.biography.fears}}"
      />
      <span class="label">{{localize "CRYPTOMANCER.Bio.fears"}}</span>
    </label>
    <label
      class="input-sizer stacked tendsTo"
      data-value="{{data.data.biography.tendsTo}}"
    >
      <input
        type="text"
        oninput="this.parentNode.dataset.value = this.value"
        size="1"
        name="data.biography.tendsTo"
        placeholder="{{localize 'CRYPTOMANCER.Bio.tendsTo'}}"
        value="{{data.data.biography.tendsTo}}"
      />
      <span class="label">{{localize "CRYPTOMANCER.Bio.tendsTo"}}</span>
    </label>
    <label
      class="input-sizer stacked usedTo"
      data-value="{{data.data.biography.usedTo}}"
    >
      <input
        type="text"
        oninput="this.parentNode.dataset.value = this.value"
        size="1"
        name="data.biography.usedTo"
        placeholder="{{localize 'CRYPTOMANCER.Bio.usedTo'}}"
        value="{{data.data.biography.usedTo}}"
      />
      <span class="label">{{localize "CRYPTOMANCER.Bio.usedTo"}}</span>
    </label>
  </div>
  <div class="long-bio"></div>
</div>