<!--
  @Input cell: Cell;
  @Input index: number;
-->
<div class="crypt-party-cell" data-index="{{index}}">
  <div class="crypt-party-cell__desc">
    <input type="text"
           value="{{cell.type}}"
           name="data.cells.{{index}}.type"
           placeholder="{{l "Cell.cellType"}}"/>
  </div>
  <div class="crypt-party-cell__operations">
    <span class="operations-label rollable" data-index="{{index}}">{{l "Skill.operations"}}</span>
    <div class="operations-inputs">
      {{> toggleBox id=(concat "cell-" index "-break") placeholder="1" value=cell.skillBreak name=(concat "data.cells." index ".skillBreak") }}
      {{> coreInput size="small" value=cell.operations name=(concat "data.cells." index ".operations") }}
      {{> toggleBox id=(concat "cell-" index "-push") placeholder="10" value=cell.skillPush name=(concat "data.cells." index ".skillPush") }}
    </div>
  </div>
  <div class="crypt-party-cell__time">
    <div class="time-increments__increment {{#if (is cell.time.increment "downtime") }}active{{/if }}"
         data-increment="downtime"
         data-index="{{index}}">
      {{l "Cell.TimeIncrement.downtime"}}
    </div>
    <div class="time-increments__increment {{#if (is cell.time.increment "day") }}active{{/if }}"
         data-increment="day"
         data-index="{{index}}">
      {{l "Cell.TimeIncrement.day"}}
    </div>
    <div class="time-increments__increment {{#if (is cell.time.increment "week") }}active{{/if }}"
         data-increment="week"
         data-index="{{index}}">
      {{l "Cell.TimeIncrement.week"}}
    </div>
    <label for="time-remaining-{{index}}">{{l "Cell.TimeIncrement.remaining"}}</label>
    <input id="time-remaining-{{index}}"
           type="text"
           data-dtype="Number"
           value="{{cell.time.value}}"
           name="data.cells.{{index}}.time.value"/>
  </div>
  <div class="crypt-party-cell__mission">
    <input type="text"
           value="{{cell.mission}}"
           name="data.cells.{{index}}.mission"
           placeholder="{{l "Cell.mission"}}"/>
  </div>
</div>
