<div class="crypt-features">
  <table class="crypt-item-table talent-table">
    <tr>
      <th>{{l "Talent.talents"}}</th>
    </tr>
    {{#each talents }}
      <tr class="item-row" data-item-id="{{this.id}}">
        <td class="talent avatar">
          <button type="button" class="avatar-wrapper" data-tooltip="{{l "ToChat"}}">
            <img src="{{this.img}}" alt="{{this.name}}" />
          </button>
        </td>
        <td class="talent name">
          <a>{{this.name}}</a>
        </td>
        <td class="talent actions-wrapper">
          <div class="actions">
            <button type="button" class="action-button view" data-tooltip="{{l 'View'}}">
              <span class="fas fa-eye"></span>
            </button>
            <button type="button" class="action-button edit" data-tooltip="{{l 'Edit'}}">
              <span class="fas fa-edit"></span>
            </button>
            <button type="button"
                    class="action-button delete"
                    data-tooltip="{{l 'Delete'}}">
              <span class="fas fa-trash"></span>
            </button>
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
  <table class="crypt-item-table spell-table">
    <tr>
      <th colspan="2">{{l "Spell.spells"}}</th>
      <th>{{l "SpellType.spellType"}}</th>
      <th>{{l "Spell.castCost"}}</th>
    </tr>
    {{#each spells }}
      <tr class="item-row" data-item-id="{{this.id}}">
        <td class="spell avatar">
          <button class="avatar-wrapper" data-tooltip="{{l "ToChat"}}">
            <img src="{{this.img}}" alt="{{this.name}}" />
          </button>
        </td>
        <td class="spell name">
          <a>{{this.name}}</a>
        </td>
        <td class="spell type">{{localizeSpellType this.data.data.type}}</td>
        <td class="spell cost">
          {{this.data.data.castCost}}
          {{l "Spell.mp"}}
        </td>
        <td class="spell actions-wrapper">
          <div class="actions">
            <button type="button" class="action-button view" data-tooltip="{{l 'View'}}">
              <span class="fas fa-eye"></span>
            </button>
            <button type="button" class="action-button edit" data-tooltip="{{l 'Edit'}}">
              <span class="fas fa-edit"></span>
            </button>
            <button type="button"
                    class="action-button delete"
                    data-tooltip="{{l 'Delete'}}">
              <span class="fas fa-trash"></span>
            </button>
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
</div>
