<!--
  @Input room: SafehouseRoom;
-->
<div class="crypt-safehouse-room {{room.type}}">
  <div class="room__header">
    {{> toggleBox id=(concat room.type "-toggle") name=(concat "data.safehouse." room.type ".owned") value=room.owned}}
    <h3>{{l (concat "SafehouseRoomType." room.type)}}</h3>
    {{#if room.cost }}
      {{> coreInput size="small" value=room.cost readonly=true}}
    {{/if}}
  </div>
  <div class="room__desc">
    <p>
      {{l (concat "SafehouseRoomDescription." room.type)}}
    </p>
  </div>
  <div class="room__input">
    <input type="text"
           name="data.safehouse.{{room.type}}.value"
           value="{{room.value}}"/>
  </div>
  <div class="room__effect">
    <p>
      {{l (concat "SafehouseRoomEffect." room.type)}}
    </p>
  </div>
  {{#if (is room.type "stable") }}
    <div class="room__mounts">
      <textarea name="data.safehouse.stable.mounts" cols="30" rows="12">{{data.data.safehouse.stable.mounts}}</textarea>
    </div>
  {{/if}}
</div>
